p{
  
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color:rgb(85, 153, 212)
}

#p1{
    font-size: 30px;
    color: rgb(72, 71, 136);
}

.myclase{
    font-size: 20px;
    color: rgb(47, 47, 134);
}

